<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/style.css">
<title>Vote Volkov for District Attorney</title>
</head>
<body>

  <div class="stage">
    <div class="image" style="background-image: url(/static/assets/stock.jpg)">
      <!-- <img src="/static/assets/sphere.png"/> -->
      <div class="foreground" style="content: url(/static/assets/sphere.png)"></div>
    </div>
    <div class="dialogue">
      <div class="question">
        {{ q }}
      </div>
      <div class="answer">
        {{ a1 }}
      </div>
      <div class="answer">
        {{ a2 }}
      </div>
      <div class="answer">
        {{ a3 }}
      </div>
    </div>
  </div>

</body>
</html>

